{% extends "trips/base.html" %}

{% block home_page %}{{ active_homepage_block|default_if_none:'' }}{% endblock %}
{% block trips_page %}{{ active_trips_block|default_if_none:'' }}{% endblock %}
{% block about_me_page %}{{ active_about_me_block|default_if_none:'' }}{% endblock %}

{% block content %}
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="root"></div>
{% endblock %}


{% block react %}
	<script>
		window.staticUrl = '{{ STATIC_URL }}';
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}react/trips/main.js"></script>
{% endblock %}
