a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

p {
	text-align: justify;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: rgba(56, 9, 53, 0.71);
	background-color: #fcfcfc;
	position: relative;
}

header {
	padding: 10px;
	background-color: #fff;
	height: auto;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	box-shadow: 10px 5px 10px #585858;
}

nav a:hover {
	color: #660033;
	text-shadow: 1px 1px #c0c0c0;
}

nav a {
	font-size: 18px;
	text-transform: uppercase;
	min-width: 200px;
	margin: 0 50px;
}

.nav-selected {
	border-bottom: solid 1px;
}

main {
	width: 80%;
	margin: 45px auto 0 auto;
}

footer {
	background-color: rgba(0, 0, 0, 0.04);
	font-size: 16px;
	bottom: 0;
	height: auto;
	width: 100%;
	text-align: center;
	padding: 10px;
}

.banner {
	font-size: 70px;
	font-family: 'Caveat', cursive;
	text-align: center;
	margin-bottom: 10px;
}

.banner .flight-takeoff {
	font-size: 40px;
}

/*countries page*/

.country {
	display: flex;
	flex-wrap: wrap;
}

.country article {
	margin: 20px;
}
.country img {
	width: 300px;
	height: auto;
	box-shadow: 10px 10px 10px #585858;
	margin-bottom: 10px;
}

.country a:hover img {
	box-shadow: 15px 15px 15px #585858;
}

.country p {
	width: 300px;
	margin: 2px 0;
}

.country .dates {
	font-size: 15px;
}


/*about me page*/

.about-me-header {
	display: flex;
}

.about-me-header img {
	width: auto;
	height: 200px;
	box-shadow: 10px 10px 10px #585858;
	margin-right: 30px;
}

.leonardo-sentence {
	font-family: 'Caveat', cursive;
	font-size: 32px;
	text-align: justify;
	margin-bottom: 5px;
}

.leonardo-author {
	float: right;
}


@media (max-width: 400px) {
	p {
		margin: 5px 0;
	}

	body {
		font-size: 14px;
	}

	header {
		padding: 5px;
		box-shadow: 5px 2px 8px #585858;
	}

	nav {
		padding: 3px;
	}

	nav a {
		font-size: 14px;
		min-width: 70px;
		margin: 0 10px;
	}

	main {
		width: 90%;
		margin: 33px auto 0 auto;
	}

	footer {
		padding: 5px;
		font-size: 14px;
	}

	.banner {
		font-size: 30px;
		margin-bottom: 5px;
	}

	.banner .flight-takeoff {
		font-size: 20px;
	}

	/*countries page*/

	.country article {
		margin: 5px;
	}
	.country img {
		width: 140px;
		height: auto;
		box-shadow: 5px 5px 5px #585858;
		margin-bottom: 4px;
	}

	.country img:hover {
		box-shadow: 10px 10px 10px #585858;
	}

	.country p {
		width: 140px;
		margin: 3px 0;
	}

	.country .dates {
		font-size: 12px;
	}

	/*about me page*/

	.about-me-header img {
		height: 80px;
		margin-right: 10px;
		box-shadow: 5px 5px 5px #585858;
	}

	.leonardo-sentence {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 1px;
	}

	.leonardo-author {
		font-size: 11px;
		margin: 0 0;
	}
}

@media (min-width: 1400px) {
	nav {
		width: 60%;
		margin: 0 auto;
	}

	main {
		width: 60%;
	}
}
