a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

p {
	text-align: justify;
}

hr {
	border: 0;
	border-top: 1px dashed rgba(56, 9, 53, 0.71);
	text-align:center;
}

hr:after {
	content: '\1F5E3';
	display: inline-block;
	position: relative;
	top: -13px;
	padding: 0 3px;
	background: #fff;
	color: rgba(56, 9, 53, 0.71);
	font-size: 18px;
}

ul {
	list-style-type: none;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: rgba(56, 9, 53, 0.71);
	background-color: #fcfcfc;
	position: relative;
}

header {
	padding: 10px;
	background-color: #fff;
	height: auto;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	box-shadow: 10px 5px 10px #585858;
}

nav a:hover {
	color: #660033;
	text-shadow: 1px 1px #c0c0c0;
}

nav a {
	font-size: 18px;
	text-transform: uppercase;
	min-width: 200px;
	margin: 0 50px;
}

.nav-selected {
	border-bottom: solid 1px;
}

main {
	width: 80%;
	margin: 45px auto 0 auto;
}

footer {
	background-color: rgba(0, 0, 0, 0.04);
	font-size: 16px;
	bottom: 0;
	height: auto;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}

.banner {
	font-size: 70px;
	font-family: 'Caveat', cursive;
	text-align: center;
	margin-bottom: 10px;
	position: relative;
}

.banner .flight-takeoff, .banner .extension {
	font-size: 40px;
}

/*countries page*/

.country {
	display: flex;
	flex-wrap: wrap;
}

.country article {
	margin: 20px;
}

.country img {
	width: 300px;
	height: auto;
	box-shadow: 10px 10px 10px #585858;
	margin-bottom: 10px;
}

.country a:hover img {
	box-shadow: 15px 15px 15px #585858;
}

.country-photo {
	position: relative;
}

.country div .under-construction {
	position: absolute;
	font-size: 35px;
	color: #fff;
	left: 24px;
	top: 93px;
	-webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	transform: rotate(35deg);
}

.country div .capitol {
	position: absolute;
	font-size: 25px;
	color: #ffffff;
	left: 5px;
	bottom: 20px;
}

.not-complete img {
	opacity: 0.7;
}

.country p {
	width: 300px;
	margin: 2px 0;
}

.country .dates {
	font-size: 15px;
}


/*trip page*/

.trip-link {
	font-size: 25px;
	width: 200px;
	position: absolute;
	bottom: 10px;
	display: flex;
}

.trip-link-arrow {
	width: 0;
	height: 0;
	border: 15px solid transparent;
}

.prev-trip-link {
	left: 0;
}

.prev-trip-link-arrow {
	border-right-color: rgba(56, 9, 53, 0.71);
	margin-right: 15px;
}

.next-trip-link {
	text-align: right;
	right: 0;
	justify-content: right;
}

.next-trip-link-arrow {
	border-left-color: rgba(56, 9, 53, 0.71);
	margin-left: 15px;
}

.trip-header {
	display: flex;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	margin-bottom: 20px;
}

.trip-header img {
	width: auto;
	height: 200px;
	box-shadow: 10px 10px 10px #585858;
	margin-right: 30px;
}

.trip-destination, .trip-dates {
	margin: 0;
}

.trip-summary{
	font-size: 25px;
	margin-top: 20px;
}

.trip-info {
	display: flex;
	margin: 20px 0;
}

.trip-info p {
	margin-top: 0;
}

.trip-info br {
	margin-bottom: 5px;
}

.trip-icons {
	width: 10vw;
	margin-right: 20px;
	text-align: right;
}

.trip-info-description {
	width: 90vw;
}

.trip-day h3 {
	cursor: pointer;
}

.trip-day span {
	margin-left: 7px;
	font-size: 15px;
	position: relative;
}

.trip-day span i {
	position: absolute;
	bottom: -4px;
	right: -20px;
}

.trip-day article {
	display: none;
}

.photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.photo {
	margin: 20px;
	width: 400px;
	text-align: center;
}

.photo img {
	max-height: 300px;
	max-width: 400px;
	height: auto;
	box-shadow: 10px 10px 10px #585858;
	margin-bottom: 10px;
}

.photo p {
	font-size: 15px;
	text-align: center;
	margin: 0;
}

.trip-day-tips {
	text-align: center;
}

.hidden {
	display: none;
}

/*post form*/

form {
	margin-bottom: 40px;
}

form .form-row {
	display: flex;
	margin-top: 20px;
}

form .form-row label {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	width: 200px;
	text-align: right;
	margin-right: 20px;
}

form .form-row input, textarea {
	background-color: #fff;
	border: solid 1px rgba(56, 9, 53, 0.71);
	float: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	padding: 4px;
	resize: vertical;
	width: 520px;
}

form button {
	cursor: pointer;
	background-color: rgba(56, 9, 53, 0.71);
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	height: 30px;
	margin: 10px 0 10px 220px;
	width: 100px;
}

.post {
	display: flex;
	margin: 10px 0;
}

.post-info {
	width: 200px;
	text-align: right;
	margin-right: 20px;
}

.post-info p {
	margin: 2px 0;
	text-align: right;
}

.post-author {
	font-size: 16px;
}

.post-date {
	font-size: 12px;
}

.post-content {
	box-shadow: 1px 1px 2px #585858;
	width: 500px;
	padding: 10px;
}

/*about me page*/

.about-me-header {
	display: flex;
}

.about-me-header img {
	width: auto;
	height: 200px;
	box-shadow: 10px 10px 10px #585858;
	margin-right: 30px;
	margin-top: 20px;
}

.leonardo-sentence {
	font-family: 'Caveat', cursive;
	font-size: 32px;
	text-align: justify;
	margin-bottom: 5px;
}

.leonardo-author {
	text-align: right;
}

.backpack {
	color: #660033;
}


/* error page */

.error404 {
	font-size: 40px;
	text-align: center;
	min-height: 300px;
}

.error404 span {
	font-size: 100px;
	margin-right: 30px;
}


/* main page */


.hp-gallery-container {
	justify-content: center;
	display: flex;
	height: 200px;
}

.hp-gallery-arrow {
	cursor: pointer;
	height: 0;
	width: 0;
	border: 40px solid transparent;
	margin-top: 110px;
}

.hp-gallery-arrow.left {
	border-right-color: rgba(56, 9, 53, 0.71);
	margin-right: 15px;
}

.hp-gallery-arrow.right {
	border-left-color: rgba(56, 9, 53, 0.71);
	margin-left: 15px;
}

.hp-gallery-arrow:hover {
	color: #660033;
}

.hp-gallery-arrow.left.disabled {
	cursor: default;
	border-right-color: #c0c0c0;
}

.hp-gallery-arrow.right.disabled {
	cursor: default;
	border-left-color: #c0c0c0;
}

.hp-gallery {
	height: 200px;
	display: inline-flex;
    justify-content: center;
	position: relative;
}

.hp-gallery div {
	height: 180px;
	width: 240px;
	margin: 10px;
	position: relative;
}

.hp-gallery div img {
	height: 180px;
	width: 240px;
}

.hp-gallery div span {
	color: #fff;
	font-family: 'Caveat', cursive;
	position: absolute;
}

.hp-gallery div .destination {
	font-size: 32px;
	right: 15px;
	top: 2px;
	max-width: 160px;
	text-align: right;
}

.hp-gallery div .dates {
	font-size: 20px;
	left: 12px;
	bottom: 7px;
}

.hp-gallery div .under-construction {
	font-size: 30px;
	left: 35px;
	top: 60px;
	-webkit-transform: rotate(33deg);
	-moz-transform: rotate(33deg);
	-ms-transform: rotate(33deg);
	-o-transform: rotate(33deg);
	transform: rotate(33deg);
}

.news {
	text-align: center;
}

.news label {
	font-family: 'Caveat', cursive;
	font-size: 32px;
	margin-left: 5px;

}

.news p {
	text-align: justify;
}

.news a {
	color: #660033;
	font-size: 20px;
}

.quiz h2, .quiz h3 {
	text-align: center;
}

.quiz li {
	margin: 10px;
	text-align: justify;
}


@media (max-width: 1025px) {

	h1 {
		font-size: 20px;
	}

	hr {
		margin-top: 30px;
	}

	body {
		font-size: 15px;
	}

	h3 {
		margin: 5px 0;
	}

	header {
		padding: 8px;
		box-shadow: 6px 2px 6px #585858;
	}

	nav a {
		font-size: 16px;
		min-width: 120px;
		margin: 0 30px;
	}

	main {
		width: 90%;
		margin: 35px auto 0 auto;
	}

	footer {
		padding: 7px;
		font-size: 15px;
	}

	.material-icons {
		font-size: 15px;
	}

	.banner {
		font-size: 45px;
		margin-bottom: 5px;
	}

	.banner .flight-takeoff, .banner .extension {
		font-size: 30px;
	}

	/*countries page*/
	.country article {
		margin: 12px;
	}

	.country img {
		width: 220px;
		height: auto;
		box-shadow: 7px 7px 7px #585858;
		margin-bottom: 6px;
	}

	.country a:hover img {
		box-shadow: 10px 10px 10px #585858;
	}

	.country div .under-construction {
		font-size: 24px;
		left: 26px;
		top: 64px;
	}

	.country div .capitol {
		font-size: 20px;
		bottom: 15px;
	}

	.country p {
		width: 220px;
		margin: 2px 0;
	}

	.country .dates {
		font-size: 14px;
	}

	/*trip page*/

	.trip-link {
		font-size: 20px;
		width: 140px;
		position: absolute;
		bottom: 10px;
		display: flex;
	}

	.trip-link-arrow {
		width: 0;
		height: 0;
		border: 12px solid transparent;
	}

	.prev-trip-link-arrow {
		border-right-color: rgba(56, 9, 53, 0.71);
		margin-right: 7px;
	}

	.next-trip-link-arrow {
		border-left-color: rgba(56, 9, 53, 0.71);
		margin-left: 7px;
	}

	.trip-header {
		display: flex;
		font-family: 'Caveat', cursive;
		font-size: 20px;
		margin-bottom: 10px;
	}

	.trip-header img {
		width: 200px;
		height: 150px;
		box-shadow: 5px 5px 5px #585858;
		margin-right: 20px;
	}

	.trip-summary{
		font-size: 20px;
		margin-top: 15px;
	}

	.trip-day span i {
		position: absolute;
		bottom: 0;
		right: -15px;
	}

	.photo {
		margin: 12px;
	}

	.photo img {
		height: auto;
		box-shadow: 7px 7px 7px #585858;
		margin-bottom: 7px;
	}

	.photo p {
		font-size: 14px;
	}

	/*post form*/

	form {
		margin-bottom: 0;
	}

	form .form-row {
		display: flex;
		margin-top: 15px;
	}

	form .form-row label {
		font-size: 16px;
		width: 100px;
		margin-right: 10px;
	}

	form .form-row input, textarea {
		font-size: 15px;
	}

	form button {
		cursor: pointer;
		background-color: rgba(56, 9, 53, 0.71);
		border: none;
		border-radius: 3px;
		color: #fff;
		font-size: 14px;
		height: 25px;
		margin: 5px 0 5px 110px;
		width: 80px;
	}

	.post-info {
		width: 100px;
		text-align: right;
		margin-right: 10px;
	}

	.post-author {
		font-size: 14px;
	}


	/*about me page*/
	.about-me-header img {
		height: 140px;
		margin-right: 15px;
		box-shadow: 5px 5px 5px #585858;
	}

	.leonardo-sentence {
		font-size: 25px;
		margin-top: 3px;
		margin-bottom: 1px;
	}

	/* error page */
	.error404 {
		font-size: 30px;
		text-align: center;
		min-height: 250px;
	}

	.error404 span {
		font-size: 60px;
		margin-right: 15px;
	}


	/* main page */

	.hp-gallery-container {
		height: 135px;
	}

	.hp-gallery-arrow {
		border: 25px solid transparent;
		margin-top: 45px;
	}

	.hp-gallery-arrow.left {
		margin-right: 10px;
	}

	.hp-gallery-arrow.right {
		margin-left: 10px;
	}

	.hp-gallery {
		height: 120px;
	}

	.hp-gallery div {
		height: 120px;
		width: 150px;
		margin: 8px;
	}

	.hp-gallery div img {
		height: 120px;
		width: 160px;
	}

	.hp-gallery div .destination {
		font-size: 22px;
		right: 4px;
		top: 2px;
	}

	.hp-gallery div .dates {
		font-size: 15px;
		left: 6px;
		bottom: 2px;
	}

	.hp-gallery div .under-construction {
		font-size: 24px;
		left: 15px;
		top: 42px;
		-webkit-transform: rotate(33deg);
		-moz-transform: rotate(33deg);
		-ms-transform: rotate(33deg);
		-o-transform: rotate(33deg);
		transform: rotate(33deg);
	}

	.news label {
		font-size: 25px;
	}

	.news a {
		font-size: 17px;
	}
}


@media (max-width: 480px) {
	p {
		margin: 5px 0;
	}

	h1 {
		font-size: 20px;
	}

	hr {
		margin-top: 30px;
	}

	hr:after {
		content: ':-)';
		font-size: 14px;
	}

	body {
		font-size: 14px;
	}

	header {
		padding: 5px;
		box-shadow: 5px 2px 8px #585858;
	}

	nav {
		padding: 3px;
	}

	nav a {
		font-size: 14px;
		min-width: 70px;
		margin: 0 10px;
	}

	main {
		width: 90%;
		margin: 33px auto 0 auto;
	}

	footer {
		padding: 5px;
		font-size: 14px;
	}

	.material-icons {
		font-size: 13px;
	}

	.banner {
		font-size: 30px;
		margin-bottom: 5px;
	}

	.banner .flight-takeoff, .banner .extension {
		font-size: 20px;
	}

	/*countries page*/
	.country article {
		margin: 5px;
	}

	.country img {
		width: 140px;
		height: auto;
		box-shadow: 5px 5px 5px #585858;
		margin-bottom: 4px;
	}

	.country img:hover {
		box-shadow: 10px 10px 10px #585858;
	}

	.country div .under-construction {
		font-size: 15px;
		left: 15px;
		top: 47px;
	}

	.country div .capitol {
		font-size: 16px;
		bottom: 12px;
	}

	.country p {
		width: 140px;
		margin: 3px 0;
	}

	.country .dates {
		font-size: 12px;
	}

	/*trip page*/

	.trip-link {
		font-size: 15px;
		width: 70px;
		position: absolute;
		bottom: -25px;
		display: flex;
	}

	.trip-link-arrow {
		width: 0;
		height: 0;
		border: 8px solid transparent;
	}

	.prev-trip-link {
		left: -8px;
	}

	.prev-trip-link-arrow {
		border-right-color: rgba(56, 9, 53, 0.71);
		margin-right: 5px;
	}

	.next-trip-link {
		text-align: right;
		right: -8px;
		justify-content: right;
	}

	.next-trip-link-arrow {
		border-left-color: rgba(56, 9, 53, 0.71);
		margin-left: 5px;
	}

	.trip-header {
		display: block;
		font-family: 'Caveat', cursive;
		font-size: 20px;
		margin-bottom: 10px;
	}

	.trip-photo-mobile {
		display: flex;
		margin-bottom: 10px;
		margin-top: 5px;
	}

	.trip-header img {
		width: 160px;
		height: 120px;
		box-shadow: 5px 5px 5px #585858;
		margin: 0 auto;
	}

	.trip-destination, .trip-dates {
		margin: 0;
		text-align: center;
	}

	.trip-summary{
		font-size: 18px;
		margin-top: 10px;
	}

	.trip-info {
		margin: 10px 0;
	}

	.trip-icons {
		padding-right: 0;
		margin-right: 8px;
		text-align: right;
	}

	.trip-day h3 {
		font-size: 15px;
	}

	.trip-day span {
		margin-left: 5px;
		font-size: 10px;
	}

	.trip-day span i {
		font-size: 16px;
		right: -16px;
	}

	.photo {
		margin: 5px;
		width: 3000px;
	}

	.photo img {
		max-height: 225px;
		max-width: 300px;
		height: auto;
		box-shadow: 5px 5px 5px #585858;
		margin-bottom: 5px;
	}

	.photo p {
		font-size: 13px;
	}

	/*post form*/

	form {
		margin-bottom: 0;
	}

	form .form-row {
		margin-top: 10px;
	}

	form .form-row label {
		font-size: 15px;
		width: 50px;
		margin-right: 10px;
	}

	form .form-row input, textarea {
		font-size: 12px;
		width: 200px;
	}

	form button {
		cursor: pointer;
		background-color: rgba(56, 9, 53, 0.71);
		border: none;
		border-radius: 3px;
		color: #fff;
		font-size: 12px;
		height: 25px;
		margin: 5px 0 5px 60px;
		width: 80px;
	}

	.post-info {
		width: 50px;
		text-align: right;
		margin-right: 10px;
	}

	.post-author {
		font-size: 12px;
	}

	.post-date {
		font-size: 7px;
	}

	.post-content {
		font-size: 12px;
	}


	/*about me page*/
	.about-me-header {
		text-align: center;
		display: block;
	}

	.about-me-header img {
		height: 80px;
		margin-right: 10px;
		box-shadow: 5px 5px 5px #585858;
	}

	.leonardo-sentence {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 1px;
	}

	.leonardo-author {
		font-size: 11px;
		margin: 0 0;
	}

	/* error page */
	.error404 {
		font-size: 20px;
		text-align: center;
		min-height: 150px;
	}

	.error404 span {
		font-size: 50px;
		margin-right: 15px;
	}


	/* main page */

	.hp-gallery-container {
		height: 75px;
	}

	.hp-gallery-arrow {
		border: 20px solid transparent;
		margin-top: 35px;
	}

	.hp-gallery-arrow.left {
		margin-right: 5px;
	}

	.hp-gallery-arrow.right {
		margin-left: 5px;
	}

	.hp-gallery {
		height: 69px;
	}

	.hp-gallery div {
		height: 69px;
		width: 92px;
		margin: 5px;
	}

	.hp-gallery div img {
		height: 69px;
		width: 92px;
	}

	.hp-gallery div .destination {
		font-size: 15px;
		right: 4px;
		top: 2px;
	}

	.hp-gallery div .dates {
		font-size: 7px;
		left: 2px;
		bottom: 2px;
	}

	.hp-gallery div .under-construction {
		font-size: 13px;
		left: 12px;
		top: 30px;
		-webkit-transform: rotate(33deg);
		-moz-transform: rotate(33deg);
		-ms-transform: rotate(33deg);
		-o-transform: rotate(33deg);
		transform: rotate(33deg);
	}

	.news label {
		font-size: 20px;
	}

	.news a {
		font-size: 15px;
	}
}


@media (min-width: 1281px) {
	nav {
		width: 60%;
		margin: 0 auto;
	}

	main {
		width: 60%;
	}
}
