{% extends "trips/base.html" %}

{% block about_me %} class="selected"{% endblock %}

{% block content %}
	<div class="content">
		<div class="geodotka">
			<img src="{{ STATIC_URL }}img/geodotka.jpg">
			<div class="shadow"></div>
		</div>
		<p>Jestem geodotka. Lubię poznawać topografię Europy, planować kolejne wyjazdy,
		a od kiedy mam mojego Olympka E-PL6 polubiłam robienie zdjęć. Oczywiście nie jestem żadną specjalistką,
		ale myślę, że na niektóre miło popatrzeć.</p>
		<p>Moim kryterium wyboru celu wyjazdu jest przede wszystkim miejsce, w&nbsp;którym jeszcze nie byłam
		lub w&nbsp;którym byłam, ale mam niedosyt i&nbsp;chcę zobaczyć jeszcze raz. Wyjątkiem są włoskie miasta,
		do których zawsze chętnie wrócę, bo uwielbiam ich architekturę. Lubię mista o zwartych centrach,
		gdzie na piechotę mogę ogarnąć dużą część tego, co warto zobaczyć. Nie przepadam za nowoczesnością
		(choć lubię ciekawe wysokie budynki), więc szukam miejsc z&nbsp;obiektami, które stoją
		już jakiś czas. No i&nbsp;rzecz dość istotna: jadę tam, gdzie wiem, że przyjemnie spędzę
		czas bez nadmiernego kombinowania, jak się poruszać. To ma być urlop, a&nbsp;nie stres
		związany z&nbsp;tym, że nie dotrę w&nbsp;jakieś miejsce. To jest dość istotne, bo ostatnio coraz
		częściej podróżuję sama.</p>
		<p>Unikam tłumów, choć przy bliższym poznaniu mnie, nikt nie chce w&nbsp;to uwierzyć. Mogę zrezygnować
		ze zwiedzania czegoś, jeśli tylko ten obiekt jest zatłoczony lub gdy prowadzi do niego gigantyczna kolejka.</p>
		<p>W zwiedzaniu lubię to, że na żywo wszystko wygląda inaczej niż na zdjęciach w&nbsp;przewodnikach,
		na street view lub fotkach w&nbsp;Internecie.</p>
		<p>Na codzień pracuję jako programistka w&nbsp;jednej z&nbsp;warszawskich firm.</p>
		<p>No i&nbsp;uwielbiam happysad nieprzerwanie od kilku ładnych lat.</p>
	</div>
{% endblock %}
