{% extends "trips/base.html" %}

{% block about_me %} class="selected"{% endblock %}

{% block content %}
	<div class="content">
		<div class="about-header">
			<div class="about-photo">
				<img src="{{ STATIC_URL }}img/geodotka.jpg">
				<div class="shadow"></div>
			</div>
			<div class="about-leonardo">
				<p class="leonardo-sentence">"I gdy już poznasz smak lotu,
					będziesz chodzić po Ziemi ze wzrokiem skierowanym w niebo,
					gdzie byłeś, dokąd tęsknisz i pragniesz wrócić..."</p>
				<p class="leonardo">Leonardo da Vinci</p>
			</div>
		</div>

		<p>
			Pierwszy raz do samolotu wsiadłam w sierpniu 2014 roku. I tak się
			zaczęło. Była to wycieczka na Sycylię, której raczej nie opiszę na
			tej stronie, bo moim założeniem jest przedstawić tu wyjazdy
			zorganizowane samodzielnie. Jedyny ślad po niej to zdjęcie, na
			którym patrzę na Etnę.
		</p>
		<p>
			Na wyjazdy nie ruszam się bez kubka i grzałki, która pamięta czasy,
			kiedy nie było mnie jeszcze na świecie oraz
			<a href="https://www.quechua.co.uk/arpenaz-30-litre-hiking-backpack-dark-greygold-id_8332414">
			plecaka</a>, który polecam, bo jest lekki, dość pojemny i mieści się
			pod fotel w samolocie.
		</p>
		<p>
			Lubię poznawać topografię Europy i planować kolejne wyprawy.
			Moim kryterium wyboru celu wyjazdu jest przede wszystkim miejsce,
			w&nbsp;którym jeszcze nie byłam lub w&nbsp;którym byłam, ale mam
			niedosyt i&nbsp;chcę zobaczyć jeszcze raz. Wyjątkiem są włoskie
			miasta, do których zawsze chętnie wrócę, bo uwielbiam ich
			architekturę. Lubię mista o&nbsp;zwartych centrach, gdzie na
			piechotę mogę ogarnąć dużą część tego, co warto zobaczyć. Nie
			przepadam za nowoczesnością (choć lubię ciekawe wysokie budynki),
			więc szukam miejsc z&nbsp;obiektami, które stoją już jakiś czas.
			No i&nbsp;rzecz dość istotna: jadę tam, gdzie wiem, że przyjemnie
			spędzę czas bez nadmiernego kombinowania, jak się poruszać. To ma
			być urlop, a&nbsp;nie stres związany z&nbsp;tym, że nie dotrę
			w&nbsp;jakieś miejsce.
		</p>
		<p>
			Ostatnio spodobały mi się wyspy i na nich zaczęłam spędzam
			tygodnowe urlopy.
		</p>
		<p>
			Unikam tłumów. Mogę zrezygnować ze zwiedzania czegoś, jeśli tylko
			ten obiekt jest zatłoczony lub gdy prowadzi do niego gigantyczna
			kolejka.
		</p>
		<p>
			W zwiedzaniu lubię to, że na żywo wszystko wygląda inaczej niż na
			zdjęciach w&nbsp;przewodnikach, na street view lub fotkach
			w&nbsp;Internecie.
		</p>
		<p>
			Na co dzień pracuję jako programistka w&nbsp;jednej
			z&nbsp;warszawskich firm.
		</p>
		<p>
			No i&nbsp;uwielbiam happysad nieprzerwanie od kilku ładnych lat.
		</p>
	</div>
{% endblock %}
