{% extends "trips/base.html" %}

{% block about_me %} class="nav-selected"{% endblock %}

{% block content %}
	<section>
		<section>
			<p class="leonardo-sentence">"I gdy już poznasz smak lotu,
				będziesz chodzić po ziemi ze wzrokiem skierowanym w&nbsp;niebo,
				gdzie byłeś, dokąd tęsknisz i&nbsp;pragniesz wrócić..."</p>
			<p class="leonardo-author">Leonardo da Vinci</p>
		</section>

		<section class="about-me-with-polaroid">
			<div>
				<p>Moje świadome podróżowanie zaczęło się w&nbsp;podstawówce, były to
					wycieczki po Polsce, później z&nbsp;jednodniowymi wypadami do
					sąsiednich stolic. To stamtąd został mi sentyment do Wiednia
					chociażby, do którego wróciłam jeszcze dwukrotnie już
					samodzielnie.</p>
				<p>Po studiach byłam na trzech autokarowych wycieczkach
					zorganizowanych: do Chorwacji, Hiszpanii i&nbsp;Włoch.
				</p>
			</div>
			<div class="polaroid-item">
				<div class="polaroid">
					<img src="" data-src="{{ STATIC_URL }}img/geodotka2.jpg">
					<div class="container">geodotka w Chorwacji</div>
				</div>
			</div>
		</section>

		<section class="about-me-with-polaroid">
			<div>
				<p>
					Pierwszy raz do samolotu wsiadłam w&nbsp;sierpniu 2014 r.
					Była to zorganizowana wycieczka na Sycylię.
				</p>
				<p>Po tym wyjeździe stwierdziłam, że chcę samodzielnie organizować
					swój czas, w zwiazku z czym zaczęłam kombinować gdzie, jak,
					kiedy i za ile. Odwiedziłam Cambridge i Londyn (2015 r.),
					Budapeszt, Hanover i Amsterdam (2016 r.). A reszta jest już
					tutaj.
				</p>
			</div>
			<div class="polaroid-item">
				<div class="polaroid">
					<img src="" data-src="{{ STATIC_URL }}img/geodotka.jpg">
					<div class="container">geodotka na Etnie</div>
				</div>
			</div>
		</section>

		<section>
			<p>
				Na wyjazdy nie ruszam się bez kubka i&nbsp;grzałki, która pamięta czasy,
				kiedy nie było mnie jeszcze na świecie oraz
				<a href="https://www.quechua.co.uk/arpenaz-30-litre-hiking-backpack-dark-greygold-id_8332414" class="backpack" target="_blank">
				plecaka</a>, który polecam, bo jest lekki, dość pojemny i&nbsp;mieści się
				pod fotel w&nbsp;samolocie.
			</p>
			<p>
				Lubię poznawać topografię Europy i&nbsp;planować kolejne wyprawy.
				Moim kryterium wyboru celu wyjazdu jest przede wszystkim miejsce,
				w&nbsp;którym jeszcze nie byłam lub w&nbsp;którym byłam, ale mam
				niedosyt i&nbsp;chcę zobaczyć jeszcze raz. Wyjątkiem są włoskie
				miasta, do których zawsze chętnie wrócę, bo uwielbiam ich
				architekturę. Lubię mista o&nbsp;zwartych centrach, gdzie na
				piechotę mogę ogarnąć dużą część tego, co warto zobaczyć. Nie
				przepadam za nowoczesnością (choć lubię ciekawe wysokie budynki),
				więc szukam miejsc z&nbsp;obiektami, które stoją już jakiś czas.
				No i&nbsp;rzecz dość istotna: jadę tam, gdzie wiem, że przyjemnie
				spędzę czas bez nadmiernego kombinowania, jak się poruszać. To ma
				być urlop, a&nbsp;nie stres związany z&nbsp;tym, że nie dotrę
				w&nbsp;jakieś miejsce.
			</p>
			<p>
				Kiedyś postanowiłam, że zwiedzę wszystkie stolice Europy. Później
				zweryfikowałam nieco ten plan: zwiedzę wszystkie stolice Europy,
				do których da się dotrzeć bez paszportu. Rok po roku konsekwentnie
				realizuję ten plan. No takie hobby, cóż poradzić.
			</p>
			<p>
				W pewnym momencie życia spodobały mi się wyspy i&nbsp;na nich
				zaczęłam spędzać tygodniowe wakacje.
			</p>
			<p>
				Unikam tłumów. Mogę zrezygnować ze zwiedzania czegoś, jeśli tylko
				ten obiekt jest zatłoczony lub gdy prowadzi do niego gigantyczna
				kolejka.
			</p>
			<p>
				W zwiedzaniu lubię to, że na żywo wszystko wygląda inaczej niż na
				zdjęciach w&nbsp;przewodnikach, na street view lub fotkach
				w&nbsp;Internecie.
			</p>
		</section>
		<section>
			Tu już byłam:
			<div class="i-was-here">
				<div class="polaroid">
					<img src="" data-src="{{ STATIC_URL }}img/eurotrip.png?d=06012020">
				</div>
			</div>
		</section>
		<section>
			Odwiedzone stolice:
			<div class="capitals">
				{% for capital in capitals %}
					<div class="polaroid-item">
						<div class="polaroid">
							<img src="" data-src="{{ STATIC_URL }}img/trips/capitals/{{ capital.0 }}">
							<div class="container">{{ capital.1 }}</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
		<section>
			<strong>Odwiedzone kraje:</strong>
			<div class="capitals">
				{% for country in countries %}
					<div class="polaroid-item">
						<div class="polaroid">
							<img src="" data-src="{{ STATIC_URL }}img/trips/countries/{{ country.0 }}">
							<div class="container">{{ country.1 }}</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</section>
{% endblock %}
