<!DOCTYPE html>
<html>
<head lang="pl">
	<meta charset="UTF-8">
	<title>geodotka w podróży</title>
	<link href="https://fonts.googleapis.com/css?family=Caveat|Allura|Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/main.css" charset="utf-8">

	<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-3.1.1.min.js"></script>
</head>
<body>

	<header>
		<nav>
			<a href="{% url 'home' %}"{% block home_page %}{% endblock %}>Strona główna</a>
			<a href="{% url 'trips' %}"{% block trips_page %}{% endblock %}>Podróże</a>
			<a href="{% url 'about_me' %}"{% block about_me %}{% endblock %}>O mnie</a>
		</nav>
	</header>

	<main>
		<section class="banner">
			geodotka w podróży <i class="material-icons flight-takeoff">flight_takeoff</i>
			{% block prev_trip %}{% endblock %}
			{% block next_trip %}{% endblock %}
		</section>
		{% block content %}{% endblock %}
		{% block gallery %}{% endblock %}
	</main>

	<footer>
		copyright by geodotka 2017
	</footer>
</body>
</html>
