<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Mindtrip</title>
	<link href="https://fonts.googleapis.com/css?family=Caveat|Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/main.css" charset="utf-8">

	<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-3.1.1.min.js"></script>
</head>
<body>

	<header>
		<nav>
			<a href="{% url 'home' %}">Strona główna</a>
			<a href="{% url 'home' %}">Podróże</a>
			<a href="{% url 'contact' %}">Kontakt</a>
		</nav>
	</header>

	<main>
		<div class="logo">
			geodotka w podróży <i class="material-icons">flight_takeoff</i>
		</div>
		{% block content %}{% endblock %}
	</main>

	<footer>
		<span>copyright by geodotka 2017</span>
	</footer>
</body>
</html>
