{% extends "trips/base.html" %}

{% block content %}
	<div class="contact">
		Jestem geodotka. Lubię zwiedzać Europę, planować kolejne wyjazdy. Na codzień pracuję jako programistka w jednej z warszawskich firm.<br><br>
		Nie lubię jeść, a szczególnie czekolady i innych słodyczy, wszelakiej surowizny (poza śledziami, ale bez przesady),
		więc na blogu tym nie przeczytasz, jakie to pyszne potrawy można skosztować
		za granicą. Nie lubię też szerzącego się analfabetyzmu Polaków i poprawiam wszystkie literówki oraz błędy,
		jakie uda mi się znaleźć. Jak dojrzysz coś na tym blogu, masz mnie!
	</div>
{% endblock %}
