{% extends "trips/base.html" %}

{% block content %}
	<div class="contact">
		Jestem geodotka. Lubię poznawać topografię Europy, planować kolejne wyjazdy.
		Moim kryterium wyboru jest przede wszystkim miejsce, w którym jeszcze nie byłam
		lub w którym byłam, ale mam niedosyt i chcę zobaczyć jeszcze raz. Wyjątkiem są włoskie miasta,
		do których zawsze chętnie wrócę, bo uwielbiam taką architekturę. Lubię mista o zwartych centrach,
		gdzie na piechotę mogę ogarnąć dużą część tego, co warto zobaczyć. Nie przepadam za nowoczesnością,
		więc szukam miejsc z obiektami, które stoją już jakiś czas. No i rzecz dość istotna: jadę tam,
		gdzie wiem, że przyjemnie spędzę czas bez nadmiernego kombinowania, jak się poruszać. To ma być urop,
		a nie stres związany z tym, że nie dotrę w jakieś miejsce. To jest dość istotne, bo ostatnio coraz
		częściej podróżuję sama.<br>
		Na codzień pracuję jako programistka w jednej z warszawskich firm.<br>
		No i lubię happysad nieprzerwanie od kilku ładnych lat.<br>
		Nie lubię jeść, a szczególnie czekolady i innych słodyczy, wszelakiej surowizny (poza śledziami, ale bez przesady),
		więc na blogu tym nie przeczytasz, jakie to pyszne potrawy można skosztować
		za granicą. Nie lubię też szerzącego się analfabetyzmu Polaków i poprawiam wszystkie literówki oraz błędy,
		jakie uda mi się znaleźć. Jak dojrzysz coś na tym blogu, masz mnie!
		No i unikam tłumów. Mogę zrezygnować ze zwiedzania czegoś, jeśli tylko ten obiekt jest zatłoczony
		lub gdy prowadzi do niego gigantyczna kolejka.
	</div>
{% endblock %}
