{% extends "trips/base.html" %}

{% block home_page %} class="nav-selected"{% endblock %}

{% block content %}
	<div class="hp-gallery-container">
		<div class="hp-gallery-arrow left js-hp-left-arrow"></div>
		<div class="gallery js-hp-gallery">
		</div>
		<div class="hp-gallery-arrow right js-hp-right-arrow"></div>
	</div>
	{% if news %}
		<h1 class="news">Aktualności</h1>
		{% for news_ in news %}
			<section class="news">
				<label>{{ news_.created_at }} {% if news_.title %}- {{ news_.title }}{% endif %}</label>
				<p>{{ news_.text|safe }}</p>
			</section>
		{% endfor %}
	{% endif %}

	<script src="{{ STATIC_URL }}js/trips/home_page_gallery.js"></script>
	<script>
		var gallery = new Gallery({{ trips|safe }});
		gallery.draw()
	</script>
{% endblock %}
