{% extends "trips/base.html" %}

{% block home_page %} class="nav-selected"{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-3.1.1.min.js"></script>
{% endblock %}

{% block content %}
	<div class="hp-gallery-container">
		<div class="hp-gallery-arrow left js-hp-left-arrow disabled"></div>
		<div class="hp-gallery js-hp-gallery">
			{% for trip in trips %}
				<a href="{% url 'trip' trip.id %}" id="{{ trip.id }}"{% if forloop.counter > 3 %} class="hidden"{% endif %}>
					<div>
						<img src="{{ MEDIA_URL }}{{ trip.picture }}">
						<span class="destination">{{ trip.destination }}</span>
						<span class="dates">{{ trip.dates }}</span>
						{% if not trip.is_complete %}
							<span class="under-construction">W opracowaniu</span>
						{% endif %}
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="hp-gallery-arrow right js-hp-right-arrow"></div>
	</div>
	{% if news %}
		<h1 class="news">Aktualności</h1>
		{% for news_ in news %}
			<section class="news">
				<label>{{ news_.created_at }} {% if news_.title %}- {{ news_.title }}{% endif %}</label>
				<p>{{ news_.text|safe }}</p>
			</section>
		{% endfor %}
	{% endif %}

	<script src="{{ STATIC_URL }}js/trips/home_page_gallery_es6.js"></script>
	<script>
		var gallery = new Gallery({{ trip_id_list }});
	</script>
{% endblock %}
