{% extends "trips/base.html" %}

{% block javascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-3.1.1.min.js"></script>
{% endblock %}

{% block prev_trip %}
	{% if prev_trip %}
		<a href="{% url 'trips:trip' prev_trip.id %}" class="trip-link prev-trip-link" title="{{ prev_trip.destination }}">
			<div class="trip-link-arrow prev-trip-link-arrow"></div>
			Poprzednia
		</a>
	{% endif %}
{% endblock %}

{% block next_trip %}
	{% if next_trip %}
		<a href="{% url 'trips:trip' next_trip.id %}" class="trip-link next-trip-link" title="{{ next_trip.destination }}">
			Następna
			<div class="trip-link-arrow next-trip-link-arrow"></div>
		</a>
	{% endif %}
{% endblock %}

{% block content %}
	<section class="trip-header">
		<div class="trip-photo-mobile">
			<img src="" data-src="{{ trip.picture.url }}">
		</div>
		<div>
			<p class="trip-destination">{{ trip.destination }}{% if trip.destination not in countries %} ({{ countries }}){% endif %}</p>
			<p class="trip-dates">{{ trip.dates }}</p>
			<p class="trip-summary">{{ trip.summary }}</p>
		</div>
	</section>

	<div class="card">
		<div class="row">
			<div class="col s12 m6 6">
				<div class="trip-info">
					<div class="trip-icons">
						<i class="material-icons" title="Dojazd">directions_bus</i>
					</div>
					<div class="trip-info-description">{{ trip.travel }}</div>
				</div>
			</div>
			<div class="col s12 m6 6">
				<div class="trip-info">
					<div class="trip-icons">
						<i class="material-icons">euro_symbol</i>
						<i class="material-icons" title="Koszty dojazdu">directions_bus</i>
					</div>
					<div class="trip-info-description">{{ trip.travel_price }}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6 6">
				<div class="trip-info">
					<div class="trip-icons">
						<i class="material-icons" title="Noclegi">local_hotel</i>
					</div>
					<div class="trip-info-description">{{ trip.hotel }}</div>
				</div>
			</div>
			<div class="col s12 m6 6">
				<div class="trip-info">
					<div class="trip-icons">
						<i class="material-icons">euro_symbol</i>
						<i class="material-icons" title="Koszty noclegów">local_hotel</i>
					</div>
					<div class="trip-info-description">{{ trip.hotel_price }}</div>
				</div>
			</div>
		</div>
		<div class="row">
			{% if trip.planned_at %}
				<div class="col s12 m6 6">
					<div class="trip-info">
						<div class="trip-icons">
							<i class="material-icons" title="Wyjazd planowany">watch_later</i>
						</div>
						<div class="trip-info-description">{{ trip.planned_at }}</div>
					</div>
				</div>
			{% endif %}
			{% if trip.guidebook %}
				<div class="col s12 m6 6">
					<div class="trip-info">
						<div class="trip-icons">
							<i class="material-icons" title="Przwodniki, mapy">map</i>
						</div>
						<div class="trip-info-description">{{ trip.guidebook }}</div>
					</div>
				</div>
			{% endif %}
		</div>
		{% if trip.tips %}
			<div class="row">
				<div class="col s12 m12 12">
					<div class="trip-info">
						<div class="trip-info-tips">{{ trip.tips|linebreaks }}</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>

	{% for day in trip.days.all %}
		<div class="card-panel col s12 m12 12">
			<div class="row">
				<div class="col s12 m6">
					{{ day.name }}{% if day.date %} ({{ day.date|date:'d-m-Y' }}){% endif %}
				</div>
				<div class="col s12 m6">
					<a class="waves-effect waves-light btn js-description">Opis</a>
					<a class="waves-effect waves-light btn js-photos"{% if not day.photos_json and not day.photos.count %} disabled{% endif %}>Zdjęcia</a>
					<a class="waves-effect waves-light btn js-tips"{% if not day.tips %} disabled{% endif %}>Wskazówki</a>
				</div>
			</div>
			<article class="js-day-description day-container hidden">
				{{ day.description|linebreaks }}
			</article>

			{% if day.photos_json %}
				<section class="js-day-photos photos day-container hidden">
					{% for photo in day.photos_json %}
						<div class="polaroid-item{% if not photo.isVertical %}-wide{% endif %}">
							<div class="polaroid">
								<img src="" data-src="{{ PHOTOS_DOMAIN }}{{ photo.url }}">
								<div class="container">{{ photo.description }}</div>
							</div>
						</div>
					{% endfor %}
				</section>
			{% elif day.photos.count %}
				<section class="js-day-photos photos day-container hidden">
					{% for photo in day.photos.all %}
						<div class="polaroid-item{% if photo.photo.width > photo.photo.height %}-wide{% endif %}">
							<div class="polaroid">
								<img src="" data-src="{{ photo.photo.url }}">
								<div class="container">{{ photo.description|default_if_none:'' }}</div>
							</div>
						</div>
					{% endfor %}
				</section>
			{% endif %}

			{% if day.tips %}
				<div class="js-day-tips day-container hidden">
					{{ day.tips|linebreaks }}
				</div>
			{% endif %}
		</div>
	{% endfor %}

	<script src="{{ STATIC_URL }}js/trips/days.js"></script>
{% endblock %}
