{% extends "trips/base.html" %}

{% block trips_page %} class="nav-selected"{% endblock %}

{% block content %}
	{% for country in countries %}
		<section>
			<h3>{{ country.name }}</h3>
			<section class="country">
				{% for trip in country.trips.all %}
					<article>
						<a href="{% url 'trip' trip.id %}">
							<div class="country-photo{% if not trip.is_complete %} not-complete{% endif %}">
								<img src="" data-src="{{ trip.picture.url }}" />
								{% if not trip.is_complete %}
									<span class="under-construction">W opracowaniu</span>
								{% endif %}
								{% if trip.describe_capital %}
									<i class="material-icons capital" title="stolica">account_balance</i>
								{% endif %}
							</div>
							<p>{{ trip.destination }}</p>
							<p class="dates">{{ trip.dates }}</p>
						</a>
					</article>
				{% endfor %}
			</section>
		</section>
	{% endfor %}
{% endblock %}
