{% extends "trips/base.html" %}

{% block javascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-3.1.1.min.js"></script>
{% endblock %}

{% block prev_trip %}
	{% if prev_trip %}
		<a href="{% url 'trip' prev_trip.id %}" class="trip-link prev-trip-link">
			<div class="trip-link-arrow prev-trip-link-arrow"></div>
			{{ prev_trip.destination }}
		</a>
	{% endif %}
{% endblock %}

{% block next_trip %}
	{% if next_trip %}
		<a href="{% url 'trip' next_trip.id %}" class="trip-link next-trip-link">
			{{ next_trip.destination }}
			<div class="trip-link-arrow next-trip-link-arrow"></div>
		</a>
	{% endif %}
{% endblock %}

{% block content %}
	<section class="trip-header">
		<div class="trip-photo-mobile">
			<img src="{{ trip.picture.url }}">
		</div>
		<div>
			<p class="trip-destination">{{ trip.destination }}{% if trip.destination != trip.country.name %} ({{ trip.country.name }}){% endif %}</p>
			<p class="trip-dates">{{ trip.start_at }} - {{ trip.end_at }}</p>
			<p class="trip-summary">{{ trip.summary }}</p>
		</div>
	</section>
	<section>
		<div class="trip-info">
			<div class="trip-icons">
				<i class="material-icons" title="Dojazd">directions_bus</i>
			</div>
			<div class="trip-info-description">{{ trip.travel }}</div>
		</div>
		<div class="trip-info">
			<div class="trip-icons">
				<i class="material-icons">euro_symbol</i>
				<i class="material-icons" title="Koszty dojazdu">directions_bus</i>
			</div>
			<div class="trip-info-description">{{ trip.travel_price }}</div>
		</div>
		<div class="trip-info">
			<div class="trip-icons">
				<i class="material-icons" title="Noclegi">local_hotel</i>
			</div>
			<div class="trip-info-description">{{ trip.hotel }}</div>
		</div>
		<div class="trip-info">
			<div class="trip-icons">
				<i class="material-icons">euro_symbol</i>
				<i class="material-icons" title="Koszty noclegów">local_hotel</i>
			</div>
			<div class="trip-info-description">{{ trip.hotel_price }}</div>
		</div>
		{% if trip.planned_at %}
			<div class="trip-info">
				<div class="trip-icons">
					<i class="material-icons" title="Wyjazd planowany">watch_later</i>
				</div>
				<div class="trip-info-description">{{ trip.planned_at }}</div>
			</div>
		{% endif %}
		{% if trip.guidebook %}
			<div class="trip-info">
				<div class="trip-icons">
					<i class="material-icons" title="Przwodniki, mapy">map</i>
				</div>
				<div class="trip-info-description">{{ trip.guidebook }}</div>
			</div>
		{% endif %}
		{% if trip.tips %}
			<div class="trip-info">
				<div class="trip-icons">
					<i class="material-icons" title="Wskazówki">warning</i>
				</div>
				<div class="trip-info-description">{{ trip.tips|linebreaks }}</div>
			</div>
		{% endif %}
	</section>
	{% if trip.days.all %}
		<section>
			{% for day in trip.days.all %}
				<section class="trip-day">
					<h3 class="js-show-more">
						{{ day.name }}{% if day.date %} ({{ day.date|date:'d-m-Y' }}){% endif %}
						<span class="js-show-more-info">
							Rozwiń<i class="material-icons">keyboard_arrow_down</i>
						</span>
					</h3>
					<article class="js-day-description">
						{{ day.description|linebreaks }}

						{% if day.photos.all %}
							<section class="trip-day-photos">
								{% for photo in day.photos.all %}
									<div class="trip-day-photo js-show-gallery">
										<img src="{{ photo.photo.url }}">
										<p>{{ photo.description }}</p>
									</div>
								{% endfor %}
							</section>
						{% endif %}

						{% if day.tips %}
							<p class="trip-day-tips"><i class="material-icons" title="Wskazówki">warning</i></p>
							{{ day.tips|linebreaks }}
						{% endif %}
					</article>
				</section>
			{% endfor %}
		</section>
	{% endif %}
	<section>
		<hr>
		<form method="post" action="{% url 'trip' trip.id %}#last-post">
			{% csrf_token %}
			<div class="form-row">
				<label for="id_author">Autor</label>
				<input id="id_author" type="text" required="" name="author" maxlength="255">
			</div>
			<div class="form-row">
				<label for="id_content">Treść</label>
				<textarea id="id_content" required="" rows="6" name="content" cols="40"></textarea>
			</div>
			<button type="submit">Wyślij</button>
		</form>
		{% for post in trip.posts.all %}
			<div class="post" {% if forloop.last %} id="last-post"{% endif %}>
				<div class="post-info">
					<p class="post-author">{{ post.author }}</p>
					<p class="post-date">{{ post.created_at	 }}</p>
				</div>
				<div class="post-content">{{ post.content }}</div>
			</div>
		{% empty %}
			<p>Nikt jeszcze nie skomentował tej wycieczki. Zachęcam do dodania komentarza.</p>
		{% endfor %}
	</section>
	<script src="{{ STATIC_URL }}js/trips/days.js"></script>
{% endblock %}

{% block gallery %}
	<div class="trip-gallery hidden js-gallery-content">
		<div class="trip-gallery-image-box">
			<div class="trip-gallery-image">
				<img class="js-image" src="">
				<div class="trip-gallery-counter js-counter"></div>
				<i class="trip-gallery-close material-icons js-close-gallery">clear</i>
			</div>
			<div class="trip-gallery-left-arrow js-left-arrow"></div>
			<div class="trip-gallery-right-arrow js-right-arrow"></div>
		</div>
		<p class="trip-gallery-description js-description"></p>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}js/trips/photos_gallery.js"></script>
	<script>
		new Gallery({{ photos_json|safe }});
	</script>
{% endblock %}
